@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    background-color: #ffffff;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    color: #3c3836;
}

.slim_body {
    max-width:1100px;
}

.term_block {
    margin:30px 0px;
    background: #282828;
    color: #ebdbb2 !important;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    margin-top: 20px;
}

p {
    margin-bottom: 25px;
    font-size: 14px;
}

.centered {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    text-transform: uppercase;
    margin-bottom: 0px;
}

.navbar-inverse {
    padding-bottom: 25px;
    padding-top: 25px;
}

.navbar-inverse {
    background-color: #073642;
    border-color: #008208;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.progress-bar-theme {
    background-color: #268bd2;
}


/* Helpers */

.mt {
    margin-top: 40px;
    margin-bottom: 40px;
}

.pt {
    padding-top: 50px;
    padding-bottom: 50px;
}


#footer {
    background: #282828;
    border-color: #008208;
    padding-top: 10px;
    margin-bottom: 10px;
}

#footer h4 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

#footer-user-pic {
    padding-left:20px;
}

/* Blog Date*/
bd {
    font-size: 12px;
    text-transform: uppercase;
    color: #d2d2d2;
    font-weight: 700;
}

/* Blog Author*/
ba {
    font-size: 12px;
    text-transform: uppercase;
}

/* Blog Quote */
.bq {
    font-size: 22px;
    padding-top: 30px;
}

/* Blog Tags */
bt {
    font-size: 12px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#projet_title {
    color: #282828;
    font-size: 22px;
}

.col-md-6 {
    padding:50px;
}

.panel {
    margin:15px;
}

.list-image {
    max-height: 425px;
    margin: 0 auto;
}
